body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../assets/background.jpg');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    //overflow: hidden;
}

.logo {
    color: white;
    margin-top: -.8em;
}

.book-now-line {
    margin: 0px 5px 0px 5px;
}

.book-now {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    
    div {
        margin: 10px 0px 5px 0px;
    }
}

nav {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2em;
        margin-top: -2em;
        cursor: pointer;
    }
    
}

h1 {
    font-size: 6rem;
    margin: 1em 1em 1em 1em;
    line-height: 5rem;
}

.subhead {
    font-size: 1.4rem;
}

section.hero {
    color: white;
    height: 90vh;

}
footer {
    background: black;
}
